$font-family: "Spectral";
$color: rgb(51, 51, 51); 
$font-weight: 500;


.button-group-1{
    padding-top: 20px;
    align-self: center;
    // background-color: yellow;

    button{
        width: 8em;
        height: 3em;
        border-width: 1px;
        float: left;
    }

    #player-debut{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; 
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        font-family: $font-family;
        font-weight: $font-weight;
    }



    #all-time{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px; 
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        font-family: $font-family;
        font-weight: $font-weight;
    }  
}

.active {
    background-color: #78c679;
    outline: none; 
}

////////////////////////////////////////////////////////////////

// .button-group-2{
//     padding-top: 20px;
//     align-self: center;
//     // background-color: yellow;

//     button{
//         width: 8em;
//         height: 3em;
//         border-width: 1px;
//         float: left;
//     }

//     #per-capita{
//         border-bottom-left-radius: 4px;
//         border-top-left-radius: 4px; 
//         border-bottom-right-radius: 0px;
//         border-top-right-radius: 0px;
//     }



//     #totals{
//         border-bottom-left-radius: 0px;
//         border-top-left-radius: 0px; 
//         border-bottom-right-radius: 4px;
//         border-top-right-radius: 4px;

//     }  
// }

.active {
    background-color: #78c679;
    outline: none; 
}


/////////////////////////////////////////////////////////////

.button-group-3{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 20px;
    padding-right: 15%;
    padding-left: 15%;
    justify-items: center;
    // background-color: red;
    
    .bg3{
        font-family: $font-family;
        font-weight: $font-weight;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; 
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;

        width: 8em;
        height: 2em;
        border-width: 1px;
        margin-top: 5px;

    }
}