$font-family: "Spectral" , serif;
$color: rgb(51, 51, 51); 
$font-weight: 500;

div.outro{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    // background-color: red;
    width: 40%;

    p{
        font-size: 0.8em;
        // background-color: green;
    }
}