
#sliderContainer{
    margin-top: 10px;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
    stroke: black;
    fill: none;
    text-anchor: middle;
    transform: matrix(1, 0, 0, 1, 0, 5);
    transform-origin: 0px 0px;
    visibility: visible;
    font-family: "Spectral", serif;
    color: rgb(51, 51, 51);
    // background-color: yellow;
    width: 50%;
}

input[type=range]{
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
