
h1{
//    background-color: gold; 

   i{
       font-size: 1.7em;
   } 
   
}

.title{
    text-align: center;
}


p{
    width: 70%; 
    // background-color: palevioletred;
    color: rgb(51, 51, 51);
    text-align: left;
    align-self: center;
}


