h1 i {
  font-size: 1.7em;
}

.title {
  text-align: center;
}

p {
  width: 70%;
  color: #333333;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#sliderContainer {
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  stroke: black;
  fill: none;
  text-anchor: middle;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 5);
          transform: matrix(1, 0, 0, 1, 0, 5);
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  visibility: visible;
  font-family: "Spectral";
  color: #333333;
  width: 50%;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.button-group-1 {
  padding-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button-group-1 button {
  width: 8em;
  height: 3em;
  border-width: 1px;
  float: left;
}

.button-group-1 #player-debut {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-family: "Spectral";
  font-weight: 500;
}

.button-group-1 #all-time {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-family: "Spectral";
  font-weight: 500;
}

.active {
  background-color: #78c679;
  outline: none;
}

.active {
  background-color: #78c679;
  outline: none;
}

.button-group-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
  padding-right: 15%;
  padding-left: 15%;
  justify-items: center;
}

.button-group-3 .bg3 {
  font-family: "Spectral";
  font-weight: 500;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 8em;
  height: 2em;
  border-width: 1px;
  margin-top: 5px;
}

#myItemList {
  position: fixed;
  right: 30%;
  top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  height: 24%;
  width: 15%;
  font-family: "Spectral";
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  text-transform: capitalize;
  z-index: 1;
}

#myItemList #item-list-metric {
  background-color: #fafecc;
  text-align: center;
  margin-top: -13px;
}

#myItemList #item-list-county {
  background-color: #78c679;
  text-align: center;
}

#myItemList #metric-list {
  margin-top: -15px;
  overflow: scroll;
}

body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
}

div.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  margin-left: 5%;
}

div.main-content p.extra-info {
  margin-top: 25px;
}

h1, h2, h3 {
  /* font-family: "Helvetica Neue",helvetica,arial,sans-serif; */
  font-family: "Spectral";
  font-weight: 700;
  font-size: 1.7em;
  color: #333333;
}

h2 {
  top: 60px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-family: "Spectral";
  font-weight: 400;
  font-size: 0.9em;
}

h2.total-players {
  top: 90px;
}

svg {
  /* background-color: hotpink; */
  position: fixed;
  right: 1px;
  top: 10px;
}

.county {
  /* stroke: #fff; */
  stroke: black;
}

.hover {
  stroke: black;
  stroke-width: 4px;
}
/*# sourceMappingURL=style.css.map */