@import "./title";
@import "./introduction";
@import "./slider";
@import "./button-groups"; 
@import "./my-item-list";


$font-family: "Spectral";
$color: rgb(51, 51, 51); 

body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

div.main-content{
    display: flex;
    flex-direction: column;
    // background-color: green;
    width: 45%;
    margin-left: 5%;

    p.extra-info{
        margin-top: 25px;
        // background-color: red;
    }

}

h1, h2, h3 {
    /* font-family: "Helvetica Neue",helvetica,arial,sans-serif; */
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.7em;
    color: $color;
}

h2{
    top: 60px; 
    font-size: 1.2em;
}

h3{
    font-size: 1em;
}

p{
    font-family: $font-family;
    font-weight: 400;
    font-size: 0.9em;
}


h2.total-players{
    top: 90px;   
}

svg{
    /* background-color: hotpink; */
    position: fixed;
    right: 1px;
    top: 10px;
}

.county {
  /* stroke: #fff; */
  stroke: black;
} 

.hover{
    stroke: black; 
    stroke-width: 4px; 
}

// .spacer-1{
//     width: 500px;
//     height: 1000px;
//     background-color: hotpink;
// }



