@import "./title";
@import "./introduction";
@import "./slider";
@import "./button-groups"; 
@import "./my-item-list";
@import "./outro";


$font-family: "Spectral" , serif;
$color: rgb(51, 51, 51); 

body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

div.main-content{
    display: flex;
    flex-direction: column;
    // background-color: green;
    width: 45%;
    margin-left: 5%;

    p.extra-info{
        margin-top: 25px;
        // background-color: red;
    }

}

h1, h2, h3 {
    /* font-family: "Helvetica Neue",helvetica,arial,sans-serif; */
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.7em;
    color: $color;
}

h2{
    top: 60px; 
    font-size: 1.2em;
}

h3{
    font-size: 1em;
}

p{
    font-family: $font-family;
    font-weight: 400;
    font-size: 0.9em;
}


h2.total-players{
    top: 90px;   
}

svg{
    /* background-color: hotpink; */
    position: absolute;
    // position: fixed;
    right: 1px;
    top: 10px;
}

.county {
  /* stroke: #fff; */
  stroke: black;
} 

.hover{
    stroke: black; 
    stroke-width: 4px; 
}

// .spacer-1{
//     width: 500px;
//     height: 1000px;
//     background-color: hotpink;
// }


hr{
    margin-top: 4em;
    width: 40%;
}

.icon-img {
    height: 13px;
    width: 13px;
    margin-bottom: -2px;
}

br.mini {
    display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 10px;
}

a {
    // color: #1E7EC8;
    color: #228443; 
    text-decoration: none; // changed from text-decoration:underline

    &:hover{
        color: #004e2c;
        text-decoration: underline; // changed from text:decoration:none
    }
 }

 